#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.GameContainer {
  margin-bottom: 2em;
}

.rows {
  display: flex;
}

.cells {
  display: flex;
  height: 100px;
  width: 100px;
  border: 1px solid #ddd;
  justify-content: center;
  align-items: center;
}
