#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}
/* ▼ ▶ • */

ul {
  list-style: none;
}

li {
  padding-left: 0.5em;
}

.menu-item {
  list-style-type: "•";
}

.menu-list.open {
  list-style-type: "▼";
}

.menu-list.closed {
  list-style-type: "▶";
}
